<br></br>

<img src ="img/customer360.png">

<br></br>
<div id="search-view" class ="container-fluid">	
	<div class="row-fluid">
    	<div class="span6 offset4">
			<form class="form-search form-inline" accept-charset="utf-8">
				<input id="search-text" class = "input span8" type="text" placeholder="search university"></input>
			</form>
		</div>
	</div>
	
	<div class="span6">
	</div>
	
	<div class="row-fluid">
    	<div class="span6 offset5">
    			<p> &nbsp; &nbsp; &nbsp; &nbsp;</p><button type="submit" id = "autosuggest-submit" class="btn btn-success confirm span3">Search</button>
    	</div>
	</div>
</div>